[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim"]
	path = pkg/vim
	url = https://github.com/ashkan2200/vim.git
	branch = master
[submodule "tmux"]
	path = pkg/tmux
	url = https://github.com/ashkan2200/tmux
	branch = master
[submodule "link/git_configs"]
	path = pkg/git_configs
	url = https://github.com/ashkan2200/git_configs
	branch = master
[submodule "bash_config"]
	path = pkg/bash_config
	url = https://github.com/ashkan2200/bash_config
	branch = master
