[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim"]
	path = pkg/vim
	url = https://github.com/adorostkar/vim.git
	branch = master
[submodule "tmux"]
	path = pkg/tmux
	url = https://github.com/adorostkar/tmux
	branch = master
[submodule "link/git_configs"]
	path = pkg/git_configs
	url = https://github.com/adorostkar/git_configs
	branch = master
[submodule "bash_config"]
	path = pkg/bash_config
	url = https://github.com/adorostkar/bash_config
	branch = master
[submodule "pkg/mywiki"]
	path = pkg/mywiki
	url = git@github.com:adorostkar/mywiki.git
	branch = main
